---
import { ProductList } from '@components/products/ProductList';
import MainLayout from '@layouts/MainLayout.astro';
import { actions } from 'astro:actions';

const {data, error} = await Astro.callAction(actions.getProductsByPage, {});

if (error) {
  console.error('Error fetching products:', error);
}

const { products, totalPages} = data!;
---

<MainLayout>
  <h1 class="text-3xl">Listado de productos</h1>
  <ProductList products={products} client:idle/>
</MainLayout>
